* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* Background colors */
    --bg-primary-color: #0c0c0c;
    --bg-white-color: white;
    --bg-fill-color: rgb(31, 243, 31);
    --bg-food-color: rgb(99, 39, 238);
    /* Text colors */
    --text-primary-color: #f0f0f0;
    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    /* Border color */
    --border-primary-color: #333333;
    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24x;
    --border-radius-xl: 32px;
    --border-radius-2xl: 40px;
    --border-radius-3xl: 48px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: rgb(218, 100, 100); */
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
}

.block {
    /* height: 30px; width: 30px; */
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #5b5a5a7c;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game,
.modal .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.modal .game-over {
    display: none;
}

.btn {
    padding: var(--border-radius-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--bg-fill-color);
    color: var(--bg-white-color);
    transform: scale(1.1);
}